.header {
  padding: 0 var(--lumo-space-m);
  display: flex !important;
  width: 100%;
  align-items: center;
}

.header h1.logo {
  font-size: 1em;
  margin: var(--lumo-space-m);
  flex: 1;
}

.drawer ul {
  list-style-type: none;
}

.drawer ul li {
  margin-bottom: var(--lumo-space-m);
}