:host {
  display: block;
  width: 100%;
  height: 100%;
  padding: var(--lumo-space-m);
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.toolbar > * {
  margin-right: var(--lumo-space-m);
}

.toolbar {
  margin-bottom: var(--lumo-space-m);
}

.content {
  flex: 1;
  display: flex;
  height: 100%;
}

.contacts-grid {
  height: 100%;
  flex: 2;
}

.contact-form {
  flex: 2;
  min-width: 300px;
  margin-left: var(--lumo-space-m);
  display: none;
}

.editing .contact-form {
  display: grid;
}

@media (max-width: 1100px) {
  .editing .toolbar,
  .editing .contacts-grid {
    display: none;
  }
}
